<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <p>Departure Time: <%= depTime %></p>
    <p>ETE: <%= ete %></p>
    <p>ETA: <%= eta %></p>
  </div>
</div>
