<div class="row">
&nbsp;
</div>
<div class="row">
  <div class="col-sm-9 col-sm-offset-1">
    <a class="h3" href="<%= request.referrer %>">Back to Home</a>
  </div>
</div>
<div class="row">
&nbsp;
</div>
<div class="row">
  <div class="col-sm-2">
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5268554150820127"
     data-ad-slot="4103638695"
     data-ad-format="auto"></ins>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        NODM List For <%= nodm %>
      </div>
      <div class="list-group">
      <% data.each do |item| %>
        <div class="list-group-item"><%= item %></div>
      <% end %>
      </div>
    </div>
  </div>
</div>
