<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
    crossorigin="anonymous">
</head>
<title>Flight Site</title>
<body>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<%= yield %>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>
