<html>
<title>Search for NODMs</title>
<body>
<form action="do_search_nodm" method="get">
<label for="nodm">Enter NODM</label>
<input type="text" name="nodm" />
<button type="submit">Submit</button>
</form>
</body>
</html>